* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    background-color: #F2F3F41;
    color: #576066;
    font-family: 'Montserrat', sans-serif;
    width: 100%;
}


.body-content{
    display: flex;
    width: 100%;
    font-size: 16px;
    padding: 50px 0;
    margin-bottom: 100px;
    position: relative;
    text-align: center;
    color: #576066;
    height: 500px;

}
.body-text{
    padding: 60px 50px;
    text-align: center;
    width: 50%;
    border: black;
    
}
.body-title{
    font-weight:bolder;
    font-size: 36px;

}
.learn-button {
        background-color: transparent;
        padding: 14px 40px;
        transition-duration: 0.4s;
        color: black;
        border: 2px solid #7392BA;
        font-family: 'Montserrat', sans-serif;
      }
      
.learn-button:hover {
        background-color: #7392BA;
        color: white;
}
.Logo{
    right: 0px;
    width: 50%;
    padding: 30px 25px;
    float: right;
    height: 400px;
    text-align: center;
}
.main-picture{
    display: block;
    margin-left: auto;
    margin-right: auto;
    display: block;
    height: 350px;
}
.about-content{
    margin: auto;
    width: 100%;
    padding: 10px;
    background-color: #DBE9F3;
    margin-bottom: 25px;
}
.about-title{
    font-weight:bolder;
    font-size: 30px;
    color: #2E5894;
    text-align: center;
}
.flex-container {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    width: fit-content;
    height: fit-content;
    padding: 10px 20px;
    margin: 25px;
    flex-direction: row;
}
.skills-container{
    width: fit-content;
    margin: 25px;
    font-size: 13px;
}
.skills{
    width: 25%;
}
.flex-box{
    width: fit-content;
    text-align: center;
    font-size: 13px;
    
}
.about-lower{
    display: flex;
    width: fit-content;
    margin: 25px;
    font-size: 13px;
}

.contact-list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.contact-body
{
    align-items: center;
    text-align: center;
    width: 100%;
    padding: 10px;
    margin: auto;
}
.icon-img{
    width: 25%;
}
.flex-box>p{
    text-align: center;
}
